/* For headings: https://fonts.google.com/specimen/Prata */
/* For body: https://fonts.google.com/specimen/Inter */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  width: 80vw;
}

/* Typography  */

h1,
h2,
h3 {
  font-family: 'Prata', sans-serif;
  color: #fff;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: 'Inter', sans-serif;
  color: #949393;
}

/* ------ Nav ------ */

.nav {
  height: 10rem;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__pages {
  width: 30rem;
  font-size: 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__pages a {
  text-decoration: none;
  color: #949393;
}

.git__btn {
  font-family: 'Prata', sans-serif;
  background-color: #ecdd52;
  font-size: 1.5rem;
  padding: 1.2rem 2rem;
  border-radius: 0.3rem;
  border: none;
  width: fit-content;
  cursor: pointer;
}

.hamburger {
  display: none;
  position: absolute;
  top: 3.4rem;
  right: 0;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .nav {
    position: relative;
  }

  .nav__pages {
    position: absolute;
    top: 8rem;
    left: -115%;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    height: 30vh;
    transition: all 0.3s;
    border-radius: 5px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav__pages.active {
    left: 0;
  }

  .nav .git__btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ------ Main ------ */

/* About */

.about {
  margin-top: -1rem;
}

.about--font-big {
  font-size: 5rem;
  width: 70rem;
}

.about--font-small {
  font-size: 1.6rem;
  width: 60rem;
  margin-top: -3rem;
}

/* Logos */

.logos {
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logos__tinder {
  display: flex;
  align-items: center;
}

.logos__tinder--emblem {
  width: 4rem;
  height: 2.4rem;
  margin-right: -3.5rem;
}

@media only screen and (max-width: 768px) {
  .logos {
    width: 50rem;
    height: 8rem;
    row-gap: 2rem;
    column-gap: 4rem;
    justify-content: space-between;
  }

  .logos__samsung {
    flex-shrink: 1;
  }
}

/* Examples  */

.examples {
  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
}

.examples__el {
  width: 47%;

  display: flex;
  flex-direction: column;
}

.examples__el .examples__el--link {
  font-size: 3rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #fff;
}

.examples__el p {
  font-size: 1.6rem;
}

.examples__el span {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .examples {
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .examples__el {
    width: 100%;
    margin: 2rem 0;
  }
}

/* Co-founder */

.cofounder {
  margin-top: 5rem;
  width: 100%;
  background-color: #393c42;
  /* height: 35vh; */
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cofounder__container {
  width: 80vw;
  padding: 3rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cofounder__text {
  width: 47%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cofounder__text h3 {
  font-size: 3rem;
  margin: 0;
}

.cofounder__text p {
  font-size: 1.5rem;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .cofounder__container {
    flex-direction: column;
    width: 80vw;
  }

  .cofounder__text {
    width: 100%;
  }
}

/* Collab */

.collab {
  width: 40%;
  padding: 5rem 0;
}

.collab h3 {
  font-size: 3rem;
  margin: 0;
}

.collab p {
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .collab {
    width: 79%;
  }
}

/* Footer  */

.footer {
  width: 100%;
  background-color: #393c42;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container {
  width: 80vw;

  display: flex;
  justify-content: space-between;
}

.footer__icons {
  width: 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__icons img {
  width: auto;
  height: 20px;
}
